/* global css */

body {
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.view {
  padding: var(--padding-m);
  background: var(--background-color);
  border-radius: var(--border-radius-view);
  margin-top: var(--padding-m);
  margin-bottom: var(--padding-m);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border: var(--padding-s) var(--background-color-light) solid;
}

.detailed-view {
  max-height: 480px;
  min-width: 300px;
  overflow: scroll;
}

#bottom-menu .detailed-view {
  position: absolute;
  bottom: 44px;
}

.detailed-view--right {
  right: 0;
}

@media only screen and (max-width: 768px) {
  .detailed-view {
    max-height: 380px;
  }

  .detailed-view--right {
    right: inherit;
  }
  
  #bottom-menu .detailed-view {
    bottom: 86px;
  }

  .view {
    bottom: 0;
  }
}
/* has to be here so the markdown is styled */
.artist-about-cont a {
  border: thin solid black;
  border-radius: 3px;
  padding: 0.03em 0.35em 0.1em 0.35em;
}

.nameContainer {
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}
.marquee {
  /* overflow: hidden; */
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 10s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-12%);
  }
  100% {
    transform: translateX(0%);
  }
}
